#foodlog
	%p= @foodlog.date
	%p= @foodlog.mealtype
	%p= @foodlog.meal
	%p= @foodlog.mood
	%p= @foodlog.level

#details
	%h2 Details
	= render @foodlog.details
	%h3 Add more details about your meal
	=render "details/form"


	= link_to "Back", root_path 
	|
	= link_to "Edit", edit_foodlog_path(@foodlog)
	|
	= link_to "Delete", foodlog_path(@foodlog), method: :delete, data: {confirm: "Are you sure you want to delete this?"}

